<!--
Kristin Albright and Xinyan Xiang
10 November 2021
-->


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='books.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='books.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='grammy.png') }}" />
    <title>Grammy Awards</title>
</head>

<body>
    <h1>Grammy Awards</h1>
    <p>The drop down menu below will allow you to select a specific Grammy Awards (i.e. The 22nd Grammy Awards)
       and a table will show all the nominations for that year.</p>

    <p>Grammy Awards<select id="grammy_selector"></select></p>

    <p><table id="nominee_table"></table></p>
</body>
</html>
